<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot name="arm_imi_urdf">
<!-- <mujoco>
        <compiler 
        meshdir="/home/leeezd/tmp/arm_imi/meshes/"
        balanceinertia="true" 
        discardvisual="false" />
</mujoco> -->
 <link name="world"/>
 <!-- <link name="base_link"/> -->
  <link name="link1">
    <inertial>
      <origin xyz="-3.785E-07 3.1699E-08 -0.025784" rpy="0 0 0" />
      <mass value="1.2375" />
      <inertia ixx="0.0029871" ixy="-1.6055E-09" ixz="6.8612E-11" 
               iyy="0.0028791" iyz="5.9894E-20" izz="0.0017382" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_imi/meshes/link1.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_imi/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="j1" type="revolute">
    <origin xyz="-0.32 0 0" rpy="1.5708 -1.5594 -1.5708" />
    <parent link="world" />
    <child link="link1" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="link2">
    <inertial>
      <origin xyz="3.78497176489745E-07 0.0257839686660657 -3.16989431370374E-08" rpy="0 0 0"/>
      <mass value="1.23746667999" />
      <inertia ixx="0.00298708534950312" 
               ixy="6.86114997554548E-11" 
               ixz="-1.6055251317845E-09"
               iyy="0.00173823512172372" 
               iyz="-2.47024332336976E-19" 
               izz="0.00287905340924803"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_imi/meshes/link2.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_imi/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="j2" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 0" />
    <parent link="link1" />
    <child link="link2" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="link3">
    <inertial>
      <origin xyz="0.2 -1.1102E-16 0" rpy="0 0 0" />
      <mass value="2.8712" />
      <inertia ixx="0.0031559" 
               ixy="-1.8431E-18" 
               ixz="-8.7459E-21" 
               iyy="0.056005" 
               iyz="-1.4088E-19" 
               izz="0.057439"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_imi/meshes/link3.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_imi/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="j3"
    type="revolute">
    <origin      xyz="0 0.13 0"      rpy="1.5708 0 3.1416" />
    <parent      link="link2" />
    <child      link="link3" />
    <axis      xyz="0 0 1" />
    <limit      lower="0"      upper="0"      effort="0"      velocity="0" />
  </joint>
  <link    name="link4">
    <inertial>
      <origin xyz="0.1177 4.5948E-07 -2.5419E-08" rpy="0 0 0" />
      <mass value="0.94127" />
      <inertia ixx="0.00053195" ixy="1.8566E-09" ixz="3.9482E-10" iyy="0.018987" iyz="2.5083E-09" izz="0.019139"/>
    </inertial>
    <visual>
      <origin         xyz="0 0 0"        rpy="0 0 0" />
      <geometry>
        <mesh          filename="package://arm_imi/meshes/link4.STL" />
      </geometry>
      <material        name="">
        <color          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh          filename="package://arm_imi/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lj4" type="revolute">
    <origin
      xyz="0.4 0 0"
      rpy="0 0 0" />
    <parent link="link3" />
    <child link="link4" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="link5">
    <inertial>
      <origin xyz="-2.2204E-16 -1.1102E-16 0"
        rpy="0 0 0" />
      <mass value="0.046406" />
      <inertia        ixx="3.4126E-05"        ixy="4.0036E-20"        ixz="9.1584E-22"        iyy="1.9116E-05"        iyz="2.1364E-21"        izz="2.3636E-05" />
    </inertial>
    <visual>
      <origin        xyz="0 0 0"        rpy="0 0 0" />
      <geometry>
        <mesh          filename="package://arm_imi/meshes/link5.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_imi/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="j5" type="revolute">
    <origin xyz="0.4 0 0" rpy="0 0 0" />
    <parent link="link4" />
    <child link="link5" />
    <axis xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link name="link6">
    <inertial>
      <origin xyz="-4.4409E-16 0.0326 0" rpy="0 0 0" />
      <mass value="0.12225" />
      <inertia
        ixx="0.00012918"
        ixy="5.8774E-19"
        ixz="-6.0487E-21"
        iyy="9.9446E-05"
        iyz="-3.3881E-20"
        izz="6.3838E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_imi/meshes/link6.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_imi/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="j6" type="revolute">
    <origin xyz="0 0 0" rpy="-1.5609 1.5708 -3.1317" />
    <parent link="link5" />
    <child link="link6" />
    <axis xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link name="link7">
    <inertial>
      <origin xyz="-0.00065795 -6.8623E-07 0.035542" rpy="0 0 0" />
      <mass value="0.081104" />
      <inertia
        ixx="1.1778E-05"
        ixy="-4.1778E-10"
        ixz="-8.1542E-08"
        iyy="1.1517E-05"
        iyz="-8.521E-11"
        izz="1.4626E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_imi/meshes/link7.STL" />
      </geometry>
      <material name="">
        <color rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://arm_imi/meshes/link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="j7" type="revolute">
    <origin xyz="0 0.06 0" rpy="1.5708 0 -3.1416" />
    <parent link="link6" />
    <child link="link7" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0" effort="0" velocity="0"/>
  </joint>
</robot>